@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

.App {
    width: 1000px;
    white-space: nowrap;
}

body {
    background: #282c34;
    font-size: 2vmin;
    font-family: 'JetBrains Mono', monospace;
    height: 125vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
}

.string {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
    white-space: nowrap;
}

